<div class="container-fluid my-2 ">
    <h3 class="my-4 text-center title">Cast</h3>
    <div class="row flex-row flex-nowrap py-3 bg-dark" id="wrap" style="overflow-x: auto">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let c of cast" >
            <div class="card card-block" style="overflow-x: auto;overflow-y: hidden;cursor: pointer;" (click)="toPerson(c.id)">
                <img class="card-img-top" [src]="profilePath(c.profile_path)" alt="Card image cap" *ngIf="c.profile_path != null">
                <img class="card-img-top" src="/src/assets/images/Avatar.jpg" alt="Card image cap" *ngIf="c.profile_path == null">
                <div class="container text-center mt-2">
                    <h6 class="">{{c.name}}</h6>
                    <p style="font-size: 15px;margin: 0;margin-bottom: 2px">{{c.character}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
