/* width */
#wrap::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

/* Track */
#wrap::-webkit-scrollbar-track {
    background: #555; 
}
 
/* Handle */
#wrap::-webkit-scrollbar-thumb {
    background: #999; 
}

/* Handle on hover */
#wrap::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.card{
    height: 280px !important;
}

@media only screen and (max-width: 500px) {
    .titel{
        font-size: 15px !important;
    }
    h2 {
      font-size: 12px !important;
    }
    h5{
        font-size: 10px !important;
    }
    h3{
        font-size: 12px !important;
    }
    h6, span{
        font-size: 10px !important;
    }
    p {
        font-size: 8px !important;
    } 
    .card{
        height: 200px !important;
        font-size: 12px !important;
        padding: 0.1rem;
    }
  }