@media only screen and (max-width: 500px) {
    h5{
        font-size: 8px !important;
        margin: 0 !important;
    } 
    p{
        font-size: 6px !important;
        margin: 0 !important;
    }
  }