<div class="container my-5">
    <div class="jumbotron">
      <h3 class="text-center mb-5">Top Rated Movies Based On TMDB</h3>
      <div class="container px-5">
        <div class="row mb-4 px-0" *ngFor="let r of results" style="cursor: pointer;" (click)="goToMovie(r.id)">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <img [src]="fullPosterPath(r)" *ngIf="r.poster_path" class="img-fluid w-100" alt="Responsive image">
            <img src="/src/assets/images/posterPlaceHolder.jpg" *ngIf="!(r.poster_path)" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-6 p-2 bg-dark text-white">
              <div class="container d-flex h-100">
                  <div class="row justify-content-center align-self-center w-100">
                    <h5 style="text-align: left !important">{{r.title}} ({{getReleasYear(r.release_date)}}) <span class="badge badge-light">{{r.vote_average}}</span></h5>
                    <p class="mt-3 mx-1 d-xl-none d-block">{{excerpt(r.overview)}}</p>
                    <p class="mt-3 mx-1 d-xl-block d-none">{{r.overview}}</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
  
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li [ngClass]="prevClass()">
            <a class="page-link" (click)="previous()">Previous</a>
          </li>
          <li class="page-item"><a class="page-link bg-dark text-white">{{page}}</a></li>
          <li [ngClass]="nextClass()">
            <a class="page-link" (click)="next()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>