<!--Tabs -->
<div class="my-4">
  <ul class="nav nav-tabs center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#cast">Cast</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#crew">Crew</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#videos">Videos</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="cast">
      <app-cast [cast]="getCast()"></app-cast>
    </div>
    <div class="tab-pane fade" id="crew">
      <app-crew [crew]="getCrew()"></app-crew>
    </div>
    <div class="tab-pane fade" id="videos">
      <app-videos [id]='id'></app-videos>
    </div>
  </div>
</div>
<!--End OF Tabs -->