/* width */
#wrap::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

/* Track */
#wrap::-webkit-scrollbar-track {
    background: #555; 
}
 
/* Handle */
#wrap::-webkit-scrollbar-thumb {
    background: #999; 
}

/* Handle on hover */
#wrap::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.card-header{
    height: 70px !important;
}

@media only screen and (max-width: 500px) {
    .titel{
        font-size: 15px !important;
    }
    h3,h5 {
      font-size: 12px !important;
    }
    p,span {
        font-size: 10px !important;
    } 
    .card-header{
        height: 60px !important;
        font-size: 12px !important;
        padding: 0.1rem;
    }
  }