<!-- Most Popular -->
<div class="container my-5 jumbotron bg-dark text-white">
  <h3 class="text-center mb-5 titel">Most Popular</h3>
  <div class="row flex-row flex-nowrap pb-3" id="wrap" style="overflow-x: auto">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let mb of mostPupular" (click)="goToMovie(mb.id)" style="cursor: pointer;">
      <div class="card text-white bg-light text-dark">
        <img [src]="mb.poster_path" style="width: 100%;">
        <div class="card-header text-center">{{mb.title}} ({{mb.release_date}})
          <br>
          <span class="badge badge-pill badge-light w-25 mx-auto">{{vote_average}}</span>
        </div>
      </div>
    </div>
  </div>
</div>