<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <img src="assets/favicon.png" width="30" height="30" class="d-inline-block align-top"
        alt=""> Movies
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="getClass('home')" (click)="selected= 'home'">
        <a class="nav-link" routerLink="/home">Home
        </a>
      </li>
      <li class="nav-item" [ngClass]="getClass('top')" (click)="selected= 'top'">
        <a class="nav-link" routerLink="/topRated/1">Top List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-secondary my-2 my-sm-0" (click)="search()">Search</button>
      <button type="button" class="btn btn-dark my-2 ml-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" *ngIf="!isLogged()">
        Login | Register
      </button>
      <button type="button" class="btn btn-dark my-2 ml-2 my-sm-0" *ngIf="isLogged()">
        Welcom {{getFullName()}}
      </button>
      <button type="button" class="btn btn-dark my-2 ml-2 my-sm-0" *ngIf="isLogged()" (click)="logout()">
          Logout
      </button>
    </form>
  </div>
</nav>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-navbar-form></app-navbar-form>
</div>