<!-- Most Popular -->
<div class="container mt-5 mb-5">
  <h3 class="my-3 text-center title">Recommendations</h3>
  <div class="row flex-row flex-nowrap  py-3" id="wrap" style="overflow-x: auto">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let mb of recommendations" (click)="goToMovie(mb.id)" style="cursor: pointer;">
      <div class="card text-white bg-dark">
        <img [src]="mb.poster_path" style="width: 100%;">
        <div class="card-header text-center" style="height: 70px;">{{mb.title}} ({{mb.release_date}})
          <br>
          <span class="badge badge-pill badge-light w-25 mx-auto">{{vote_average}}</span>
        </div>
      </div>
    </div>
  </div>
</div>