<!-- Courousal -->
<!--div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://www.igorstshirts.com/blog/conceptships/2016/paul_dainton/paul_dainton_02.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block bg-dark">
          <h5>Title Of Title</h5>
          <p>n a professional context it often happens that private or corporate clients corder a publication to be made and presented
            with the actual content still not being ready.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/src/assets/images/poster1.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block bg-dark">
          <h5>Title Of Title</h5>
          <p>n a professional context it often happens that private or corporate clients corder a publication to be made and presented
            with the actual content still not being ready.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://www.slashfilm.com/wp/wp-content/images/wfc-00023_1.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block bg-dark">
          <h5>Title Of Title</h5>
          <p>n a professional context it often happens that private or corporate clients corder a publication to be made and presented
            with the actual content still not being ready.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div-->

<div class="hero" style="background: url('assets/images/back (3).jpg') no-repeat no-repeat center center;">
  <table style="height: 100vh;">
    <tbody>
      <tr>
        <td class="align-middle">
          <div class="text-left container my-auto ml-md-5">
            <h1 class="text-white">Movies App</h1>
            <p class="text-light">Where you can browse and review mvoies.</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>