<div class="container py-2 bg-dark text-light">
  <h3 class="text-center my-4">Reviews</h3>
  <div *ngIf="reviews">
      <div class="list-group w-100" *ngFor="let review of reviews">
          <div class="list-group-item list-group-item-action flex-column align-items-start bg-secondary text-light">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{review.title}}</h5>
              <small>{{format(review.date)}}</small>
            </div>
            <p class="mb-1">{{review.body}}</p>
            <small>By {{review._user.username}}</small>
          </div>
        </div>
  </div>


  <app-review-form [id]="id"></app-review-form>

</div>