@media only screen and (max-width: 500px) {
    h3{
        font-size: 12px !important;
    }
    h5{
        margin: 0 !important;
        font-size: 12px !important;
    }
    p{
        margin: 0 !important;
        font-size: 11px !important;
    }
  }