<div class="container-fluid my-2 ">
  <h3 class="my-4 text-center">Worked In</h3>
  <div class="row flex-row flex-nowrap py-3 bg-dark" id="wrap" style="overflow-x: auto">
      <div class="col-lg-2 col-md-3 col-7" *ngFor="let c of crew" >
          <div class="card card-block" style="height: 280px;overflow-x: auto;overflow-y: hidden;cursor: pointer;" (click)="toMovie(c.id)">
              <img class="card-img-top" [src]="posterPath(c.poster_path)" alt="Card image cap" *ngIf="c.poster_path != null">
              <img class="card-img-top" src="/src/assets/images/posterPlaceHolder.jpg" alt="Card image cap" *ngIf="c.poster_path == null">
              <div class="container text-center mt-2">
                  <h6 class="">{{c.title}}</h6>
                  <p style="font-size: 15px;margin: 0;margin-bottom: 2px">{{c.job}}</p>
              </div>
          </div>
      </div>
  </div>
</div>
