<!--Tabs -->
<div class="my-4">
  <ul class="nav nav-tabs center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#cast">Appeared In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#crew">Worked In</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="cast">
      <app-person-cast [cast]="getCast()"></app-person-cast>
    </div>
    <div class="tab-pane fade" id="crew">
      <app-person-crew [crew]="getCrew()"></app-person-crew>
    </div>
  </div>
</div>
<!--End OF Tabs -->