<div class="container">
  <h3 class="my-3 text-center titel">Now Playing</h3>
  <div class="row d-none d-md-block" [ngStyle]="getColStyle(nowPlaying[0])" (click)="goToMovie(nowPlaying[0].id)">
    <div class="py-4 px-4 w-100 row-padder" style="background-color: rgba(55, 55, 55, 0.7)">
      <div class="row">
        <div class="col-6 col-sm-5 col-md-4 col-lg-3" style="height: 100%;">
          <img [src]="nowPlaying[0].poster_path" class="img-fluid w-100 my-auto" alt="Responsive image">
        </div>
        <div class="col-6 col-sm-7 col-md-8 col-lg-9 text-light my-auto">
          <h3>{{nowPlaying[0].title}} ({{nowPlaying[0].release_date}})</h3>
          <br>
          <p>{{excerpt(nowPlaying[0].overview)}}</p>
          <h1><span class="badge badge-light text-dark">{{nowPlaying[0].vote_average}}</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 d-md-none" [ngStyle]="getColStyle(nowPlaying[0])" (click)="goToMovie(nowPlaying[0].id)"> 
          <div class="row" style="background-color: rgba(55, 55, 55, 0.7)">
            <div class="col-6 col-md-4" style="height: 100%;">
              <img [src]="nowPlaying[0].poster_path" class="img-fluid w-100 my-3 mx-auto" alt="Responsive image">
            </div>
            <div class="col-6 col-md-8 text-light my-auto">
              <h5>{{nowPlaying[0].title}} ({{nowPlaying[0].release_date}})</h5>
              <h6><span class="badge badge-light text-dark">{{nowPlaying[0].vote_average}}</span></h6>
              <p>{{excerpt(nowPlaying[0].overview)}}</p>
            </div>
          </div>
      </div>
    <div class="col-md-6" [ngStyle]="getColStyle(nowPlaying[1])" (click)="goToMovie(nowPlaying[1].id)"> 
      <div class="row" style="background-color: rgba(55, 55, 55, 0.7)">
        <div class="col-6 col-md-4" style="height: 100%;">
          <img [src]="nowPlaying[1].poster_path" class="img-fluid w-100 my-3" alt="Responsive image">
        </div>
        <div class="col-6 col-md-8 text-light my-auto">
          <h5>{{nowPlaying[1].title}} ({{nowPlaying[1].release_date}})</h5>
          <h6><span class="badge badge-light text-dark">{{nowPlaying[1].vote_average}}</span></h6>
          <p>{{excerpt(nowPlaying[1].overview)}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6" [ngStyle]="getColStyle(nowPlaying[2])" (click)="goToMovie(nowPlaying[2].id)">
      <div class="row" style="background-color: rgba(55, 55, 55, 0.7)">
        <div class="col-6 col-md-4" style="height: 100%;">
          <img [src]="nowPlaying[2].poster_path" class="img-fluid w-100 my-3" alt="Responsive image">
        </div>
        <div class="col-6 col-md-8 text-light my-auto">
          <h5>{{nowPlaying[2].title}} ({{nowPlaying[2].release_date}})</h5>
          <h6><span class="badge badge-light text-dark">{{nowPlaying[2].vote_average}}</span></h6>
          <p>{{excerpt(nowPlaying[2].overview)}}</p>
        </div>
      </div>
    </div>
  </div>
</div>