/* If the screen size is 600px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 500px) {
    .titel{
        font-size: 15px !important;
    }
    h3,h5 {
      font-size: 12px !important;
    }
    p,span {
        font-size: 10px !important;
    } 
  }