<div *ngIf="person">

  <div class="jumbotron container my-4">
    <!-- Person Details -->
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 col-6">
        <img [src]="profilePath(person.profile_path)" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-lg-9 col-md-8 col-sm-7 col-6">
        <h2>{{person.name}}</h2>
        <h5>Biography:</h5>
        <p>{{person.biography}} </p>
        <p>
          <strong>Birthday: </strong> {{person.birthday}}
        </p>
        <p>
          <strong>Place Of Birth: </strong> {{person.place_of_birth}}
        </p>
        <p>
          <strong>Known For Department: </strong> {{person.known_for_department}}
        </p>
      </div>
    </div>
    <!--End Of Person Details -->
    <app-person-extra [id]="id"></app-person-extra>
  </div>
</div>