@media only screen and (max-width: 500px) {
    h3{
        font-size: 12px !important;
        margin: 0 !important;
    } 
    h2{
        margin: 0 !important;
        font-size: 11px !important;
    }

    label{
        font-size: 10px !important;
    }
    input{
        font-size: 10px !important;
    } 
    textarea{
        font-size: 10px !important;
    } 
    button{
        font-size: 10px !important;
    }
  }