<div class="p-3" *ngIf="isLogged()">
  <h2>Post Review</h2>
  <div class="alert alert-danger mt-3" role="alert" *ngIf='err'>
    {{err}}
  </div>
  <div class="alert alert-success mt-3" role="alert" *ngIf='success'>
    {{success}}
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" placeholder="Enter title" [(ngModel)]='title'>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea class="form-control" rows="5" [(ngModel)]='body' placeholder="Enter your review"></textarea>
  </div>
  <button class="btn btn-light" (click)='postReview()'>Submit</button>
</div>

<div class="p-3" *ngIf="!isLogged()">
  <h6>
    <span style="cursor: pointer;text-decoration: underline" (click)="clickLigon()">Login</span> to post a review!</h6>
</div>