<div class="mt-3">
  <div class="alert alert-danger" role="alert" *ngIf="err">
    {{err}}
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
      {{success}}, You can login now!
  </div>
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" placeholder="Enter full name" [(ngModel)]="fullname">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="register()">Register</button>
</div>