<div class="mt-3">
  <div class="alert alert-danger" role="alert" *ngIf="err">
    {{err}}
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="login()">Login</button>
</div>