/* width */
#wrap::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

/* Track */
#wrap::-webkit-scrollbar-track {
    background: #555; 
}
 
/* Handle */
#wrap::-webkit-scrollbar-thumb {
    background: #999; 
}

/* Handle on hover */
#wrap::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

@media only screen and (max-width: 500px) {
    h3{
        font-size: 12px !important;
    }
  }