<div class="container-fluid my-2 " *ngIf="ok">
  <h3 class="my-4 text-center">Videos</h3>
  <div class="row flex-row flex-nowrap  py-3 bg-dark" id="wrap"  style="overflow-x: auto">
      <div class="col-lg-6 col-12" *ngFor="let vid of videos">
        <div class="embed-responsive embed-responsive-16by9 w-100">
          <iframe class="embed-responsive-item" [src]="dom.bypassSecurityTrustResourceUrl(getFullLink(vid.key))" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>