<div class="container my-5">
  <div class="jumbotron">
    <h3 class="text-center mb-5">Resaults</h3>
    <div class="container px-5">
      <div class="row mb-4 px-0" *ngFor="let r of results" style="cursor: pointer;" (click)="goToMovie(r.id)">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
          <img [src]="fullPosterPath(r)" *ngIf="r.poster_path" class="img-fluid w-100" alt="Responsive image">
          <img src="/src/assets/images/posterPlaceHolder.jpg" *ngIf="!(r.poster_path)" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-6 bg-dark text-white d-sm-block d-none">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center w-100">
                  <h5>{{r.title}} <span *ngIf="r.release_date">({{getReleasYear(r.release_date)}})</span></h5>
                </div>
            </div>
        </div>
        <div class="col-6 bg-dark text-white d-sm-none d-block">
                  <h5 class="text-center py-4">{{r.title}} <span *ngIf="r.release_date">({{getReleasYear(r.release_date)}})</span></h5>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li [ngClass]="prevClass()">
          <a class="page-link" (click)="previous()">Previous</a>
        </li>
        <li class="page-item"><a class="page-link bg-dark text-white">{{page}}</a></li>
        <li [ngClass]="nextClass()">
          <a class="page-link" (click)="next()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>