<div *ngIf="movie && loaded">
  <!-- Cover -->
  <div class="cover_image_container" [ngStyle]="getStyle()">
    <!-- Card -->
    <div class="mx-auto" style="width: 50%;margin-top: 20vh">
      <div class="card d-none d-md-block" style="background-color: rgba(80, 80, 80, 0.8)">
        <div class="card-body text-center">
          <h3 class="text-light">{{movie.tagline}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron container my-4">
    <!-- Movie Details -->
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 col-6 p-sm-2 p-1">
        <img [src]="movie.poster_path" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-lg-9 col-md-8 col-sm-7 col-6 p-sm-2 p-1">
        <h2>{{movie.title}} ({{getReleasYear(movie.release_date)}})
          <span>
            <h6 href="#" class="badge badge-dark">{{movie.vote_average}}</h6>
          </span>
        </h2>
        <p class="d-none d-md-block">
          <strong>Status: </strong> {{movie.status}}</p>
        <h6 class="mb-3 my-0">
          <span class="badge badge-dark mr-1" *ngFor="let genre of movie.genres">{{genre.name}}</span>
        </h6>
        <h5>Overview:</h5>
        <p>{{movie.overview}} </p>
        <p *ngIf="movie.adult">
          <span class="badge badge-light mr-1">Adult</span>
        </p>
        <p class="d-none d-md-block">
          <strong>Release: </strong> {{movie.release_date}} </p>
        <p class="d-none d-md-block">
          <strong>Runtime: </strong> {{movie.runtime}}min</p>
      </div>
    </div>
    <!--End Of Movie Details -->
    <app-extra [id]="movie.id"></app-extra>
    <app-reviews [id]="movie.id"></app-reviews>
    <app-recommendations [id]="movie.id"></app-recommendations>
  </div>
</div>