@media only screen and (max-width: 500px) {
    .titel{
        font-size: 15px !important;
    }
    h2 {
      font-size: 12px !important;
    }
    h5{
        font-size: 10px !important;
    }
    h6, span{
        font-size: 7px !important;
    }
    p {
        font-size: 8px !important;
    } 
    .card-header{
        height: 60px !important;
        font-size: 12px !important;
        padding: 0.1rem;
    }
  }